# cache
*$py.class
.Python
.cache
.python-version
__pycache__/
*.py[cod]
**/node_modules
# local database
postgres
**/db.sqlite3
# editor
*.sublime-*
**/.vscode
**/.idea
# meta
.DS_Store
# Environments
.env
.venv
whale.env
env/
venv*/
ENV/
env.bak/
venv.bak/
# Docker
docker-compose.local.yml
Dockerfile.local
# Misc
.ssh
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.installed.cfg
*.lock
*.log
*.swp
.python-version
/.pnp
.pnp.js
/coverage
# production
/build
/data
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

